[user]
	email = mjsrodrigues4@gmail.com
	name = Mário Rodrigues
[core]
	excludesfile = /home/chinchi/.gitignore_global
	pager = cat
[alias]
	l = log --oneline --decorate --all --graph
	s = status -s
	lg = log --oneline --reverse
# [submodule]
# 	recurse = true
[push]
	autoSetupRemote = true